.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 130vh;
  background: linear-gradient(135deg, #0fdcdc, #1169c1);
}

.form-container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 95%;
  font-size: 16px;
}


.submit-btn {
  background-color: #0eb6b6;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #157be1;
}

/* Table styles
.table-container {
  margin-top: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #007bff;
  color: #fff;
}

tr:hover {
  background-color: #f5f5f5;
} */
